root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{csproj,props,targets,slnx,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
csharp_using_directive_placement = outside_namespace:suggestion
